{% extends 'pdv/base.html' %}


{% block content %}
<h2>Bem-Vindo ao Hotel Marinas</h2>
<p>Desfrute de nosso ambiente virtual e faça a sua reserva!</p>


    <div id="campanhia">
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/0aa58ff9-538f-4ffb-a220-005734728f1b/IBavQNGYHz.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
    </div>

{% endblock %}